{{- if .Values.oauth2Proxy.enabled }}
{{- $replicaCount := .Values.oauth2Proxy.replicas | default 1 | int }}
{{- if .Values.oauth2Proxy.autoscaling.enabled }}
  {{- $replicaCount = .Values.oauth2Proxy.autoscaling.minReplicas | default 1 | int }}
{{- end }}
{{- if and .Values.oauth2Proxy.podDisruptionBudget.enabled (gt $replicaCount 1) }}
apiVersion: {{ include "capabilities.podDisruptionBudget.apiVersion" . }}
kind: PodDisruptionBudget
metadata:
  labels:
    app: {{ template "oauth2-proxy.name" . }}
{{- include "oauth2-proxy.labels" . | indent 4 }}
  name: {{ template "oauth2-proxy.fullname" . }}
  namespace: {{ template "oauth2-proxy.namespace" $ }}
spec:
  selector:
    matchLabels:
      {{- include "oauth2-proxy.selectorLabels" . | indent 6 }}
  {{- with .Values.oauth2Proxy.podDisruptionBudget.maxUnavailable }}
  maxUnavailable: {{ . }}
  {{- end }}
  {{- with .Values.oauth2Proxy.podDisruptionBudget.minAvailable }}
  minAvailable: {{ . }}
  {{- end }}
  {{- with .Values.oauth2Proxy.podDisruptionBudget.unhealthyPodEvictionPolicy }}
  unhealthyPodEvictionPolicy: {{ . }}
  {{- end }}
{{- end }}
{{- end }}